@import "../../../style.css";

html {
    max-height: 165px;

    body {
        display: grid;
        grid-template-rows: 90% auto;

        height: 100%;
        width: 270px;

        padding: 1rem;

        border: 2px solid var(--dracula-accent);

        background: var(--dracula-card);

        main {
            h1 {
                justify-self: center;
            }
        }

        footer {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}