x-auto-clock-times {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.5rem;

    div {
        display: flex;
        align-items: center;

        input[type="checkbox"] {
            width: 1rem;
            height: 1rem;
        }

        label {
            margin-left: 0.25rem;
            flex: 1;
        }

        input[type="time"]::-webkit-calendar-picker-indicator {
            cursor: pointer;
            filter: invert(1);
        }
    }
}